.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    box-sizing: border-box;
}

.form{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 4px grey;
    padding: 20px 25px;
    /* border-radius: 10px; */
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form>div{
    display: flex;
    width:100%;
    gap: 3px;
    flex-direction: column;
}

.form>div>label{
    font-size: 15px;
}
.form>div>input{
    padding: 8px;
}
.form>div>input:focus{
    outline: none;
}


.form>button{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to left, red, purple);
    border: none;
}